<div>
	<header>
		<lt-nav></lt-nav>
	</header>

	<main>
		<div>
			<router-outlet></router-outlet>
		</div>
	</main>

	<footer class="bg-primary">
		<div class="container">
			<p>
				Bacon ipsum dolor amet capicola sirloin bacon corned beef tri-tip ham cow rump brisket ribeye boudin. Pancetta drumstick
				kevin, cupim sausage leberkas fatback chuck. Meatball fatback cow, prosciutto venison alcatra ball tip shankle.
			</p>
			<p> Bacon shoulder filet mignon chicken. Beef ribs kielbasa chicken ribeye beef, flank turkey pork loin. Cow bacon strip steak,
				tri-tip rump tenderloin pork jowl kevin. Kielbasa corned beef tenderloin bacon meatloaf picanha. Drumstick chicken pork
				loin cupim ribeye strip steak short loin beef ham sirloin jerky chuck turducken ham hock. Flank ground round shoulder
				cow, pastrami ball tip sausage jowl boudin hamburger meatball.
			</p>
			<p> Ribeye sirloin drumstick t-bone porchetta chicken. Turducken pork belly shankle ball tip landjaeger tri-tip drumstick
				spare ribs swine ham hock. Strip steak beef meatball meatloaf t-bone biltong hamburger pastrami tongue pork chop.
			</p>
			<p> Strip steak hamburger kevin meatloaf, short ribs andouille brisket. Cupim meatball bacon shankle andouille ball tip. Cupim
				pastrami shankle swine short ribs, sirloin turkey prosciutto. Tri-tip capicola tongue salami beef, landjaeger bacon.
				Turkey short loin pig, beef ball tip fatback porchetta pork belly chuck bresaola boudin hamburger tongue ribeye.
			</p>
			<p> T-bone pork belly meatball, bacon jowl venison turducken. Brisket ham beef ribs drumstick, chicken pastrami capicola jowl.
				Pork belly pork loin salami ham. Pork belly doner kevin cow, ball tip biltong salami kielbasa sirloin flank meatloaf
				turkey tongue frankfurter. Pancetta pork loin capicola chicken doner pork strip steak. Tail shoulder meatball, meatloaf
				alcatra jowl pancetta shankle tongue swine.
			</p>
			<hr /> &copy; Andrew Duncan
		</div>
	</footer>

</div>