body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ng-valid.ng-touched:not(form)  {
  border: 2px solid #42A948;
}

.ng-invalid.ng-touched:not(form)  {
  border: 2px solid #a94442;
}