@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What's for lunch?</h1>
    <p class="lead">The most important question of the day is where are we going for lunch?</p>
    <p><a href="@Url.Action("Index", "Vote")" class="btn btn-primary btn-lg">Let the voting begin! &raquo;</a></p>
</div>